apiVersion: observability.kaasops.io/v1alpha1
kind: Vector
metadata:
  name: vector-sample
  namespace: vector
spec:
  agent:
    image: "timberio/vector:0.28.1-debian"
    internalMetrics: false
    api:
      enabled: true
      healthcheck: true
    configCheck:
      disabled: true
    resources:
      limits:
        cpu: 500m
        memory: 800Mi
      requests:
        cpu: 10m
        memory: 20Mi

