apiVersion: observability.kaasops.io/v1alpha1
kind: VectorPipeline
metadata:
  name: vectorpipeline-sample
spec:
  sources:
    test1:
      type: "kubernetes_logs"
      extra_label_selector: "app!=testdeployment"
    test2:
      type: "kubernetes_logs"
      extra_label_selector: "app!=testdeployment1"
  transforms:
    test11:
      type: "filter"
      inputs:
        - test1
        - test2
      condition:
        type: "vrl"
        source: ".status != 200"
    test33:
      type: "filter"
      inputs:
        - test11
      condition:
        type: "vrl"
        source: ".status != 200"
  sinks:
    test221:
      type: "console"
      encoding:
        codec: "json"
      inputs:
        - test11      
    test222:
      type: "console"
      encoding:
        codec: "json"
      inputs:
        - test33
---
apiVersion: observability.kaasops.io/v1alpha1
kind: VectorPipeline
metadata:
  name: vectorpipeline-sample1
  namespace: kube-system
spec:
  sources:
    test1:
      type: "kubernetes_logs"
      extra_label_selector: "app!=testdeployment2"
  sinks:
    test2:
      type: "console"
      encoding:
        codec: "json"
      inputs:
        - test1
# ---
# apiVersion: observability.kaasops.io/v1alpha1
# kind: VectorPipeline
# metadata:
#   name: vectorpipeline-sample2
#   namespace: default
# spec:
#   source:
#     labelSelector:
#       app: "testdeployment2"
#   sinks:
#     type: "console"
# ---
# apiVersion: observability.kaasops.io/v1alpha1
# kind: VectorPipeline
# metadata:
#   name: vectorpipeline-sample3
#   namespace: default
# spec:
#   source:
#     labelSelector:
#       app: "testdeployment2"
#   sinks:
#     type: "console"