{{ $namespace := .Release.Namespace }}
{{- range $pipeline  := .Values.clustervectorpipeline }}
apiVersion: observability.kaasops.io/v1alpha1
kind: ClusterVectorPipeline
metadata: 
  name: {{ $pipeline.name }}
spec:
  sources: 
{{-  toYaml $pipeline.sources | nindent 4 }}
  transforms: 
{{-  toYaml $pipeline.transforms | nindent 4 }}
  sinks:
{{-  toYaml $pipeline.sinks | nindent 4 }}
---
{{- end }}


 
